#!/bin/bash
set -e

{% for user in postgresql_users %}
psql -v ON_ERROR_STOP=1 --username "postgres" <<-EOSQL
    CREATE USER {{ user.name }} WITH PASSWORD '{{ user.password }}';
EOSQL
{% endfor %}

{% for db in postgresql_databases %}
psql -v ON_ERROR_STOP=1 --username "postgres" <<-EOSQL
    CREATE DATABASE {{ db.name }};
    ALTER DATABASE {{ db.name }} OWNER TO {{ db.owner }};
EOSQL
{% endfor %}
